*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header section */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul{
    list-style: none;
    display: inline-block;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

p{
    color: black;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    

}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;   
}

.col-2 h1{
    font-size: 50px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: white;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 30px;
    margin: 30px 0;
}

.btn:hover{
    background: #4e1910;
    transition: 0.2s;
    color: #ffffff;
}


.header{
    background: radial-gradient(#fff , #ffd6d6);
}

.header .row{
    margin-top: 70px;
}

/*feature catagories section */
.catagories{
    margin: 70px 0;
}

.catagories .col-3{
    flex-basis: 28%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

/*feature product section */
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 20%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    text-align: center;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    line-height: 60px;
    margin: 0 auto 80px;
    position: relative;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
}


h4{
    color: #555;
    font-weight: normal;
}
.rating i{
    color: #ff523b;
}

.col-4 p{
    font-weight: 500;
    font-size: 18px;
}

.col-4:hover{
    transform: translatey(-5px);
}

/************** Offer Section **************/

.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-image{
    padding: 50px;
}

small{
    color: #555;
}

/************** testimonial section *************/
.testimonial{
    margin-top: 100px;
}

.testimonial .col-3{
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 20px 0px  rgba(0,0,0,0.1);
    transition: 0.2s;
    padding: 20px 5px;
}

.testimonial .col-3 img{
    width: 50px;
    border-radius: 50%;
    margin-top: 20px;
}

.testimonial .col-3:hover{
    transform: translateY(-10px);
}

.fa.fa-quote-left{
    color: #ff523b;
    font-size: 30px;
}

.testimonial .col-3 p{
    font-size: 16px;
    margin: 12px 0;
    color: #555;
    font-weight: 600;
}

/******* Brands section *******/

.brands{
    margin: 100px auto;
}

.brands .col-5{
    width: 160px;
}

.brands img{
    width: 100%;
    filter: grayscale(100%);
    cursor: pointer;
}

.brands img:hover{
    filter: grayscale(0);
}

/* Footer section */
.footer{
    background: black;
    color: white;
}

.footer p{
    color: #fff;
}

footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer .container .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.footer .container .row ul{
    list-style: none;
}

.app-logo{
    margin-top: 50px;
}

.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
    color: #b5b5b5;
}

.footer-col-2{
    grid-column: 2 / 4;
}
